.product-button {
    display: block;
    background-color: $button-color;
    color: $white;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: $button-hover-color;
    }
} 